.header {
    display: inline-block;
    vertical-align: top;
    /*width: 23%;
    padding: 1%;
    text-align: center;*/
  }

  .nav {
    width:73%;
    padding:1%;
    display: inline-block;
  }

  .logoImg{
    width:23%;
    padding:1%;
    display: inline-block;
    text-align:center;
  }

  .heroImg{
    display: inline-block;
    height:600px;
    padding:25px;
  }

  footer ul {
    width:50%;
    margin-left: auto;
    display:inline-block;
    vertical-align: top;
    padding-left:50%;
    padding-right:50%;
  }
  
  footer ul li{
    padding:10px;
    display:inline-block;
  }
  
  p {
    width:500px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
  color: #5f5c54;
  letter-spacing: 1px;
  }

  footer{
    background-color: #ACC1B5;

  }

* {
  box-sizing: border-box;
}



.mySkills{
	text-align: center;
	
}

.flexContainer{
	display:flex;
	flex-direction: row;
	  text-align: center;
}

.flexChildren{
	width:33%;
}

.myWork{
	text-align: center;
	
}

.myworkimg{
    display: inline-block;

    padding:25px;

  }


.workGrid {
  display: grid;
  
  grid-template-columns: auto auto ; /*Make the grid smaller than the container*/
  grid-row-gap: 10px;
  /*background-color: #2196F3;*/
  padding: 10px;
}

.workGrid > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
 
}

.workGrid-Item1{
	text-align:center;
	padding: 10px 0px 10px 0px;
}
.workGrid-Item2{
	text-align:left;
	padding: 10px 0px 10px 5px;

}

body {
  font-family: 'Montserrat', sans-serif;
  color: #5f5c54;
  letter-spacing: 1px;
}


h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', Medium 500;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 600px) {
  .flexContainer {
    flex-direction: column;
    width: 100%;
  }
}


  span {
    color: red;
  }
  
  